In [3]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('oracle+cx_oracle://ai:0000@localhost:1521/xe')
sector_df = pd.read_sql("SELECT * FROM KOR_SECTOR", con=engine)

In [5]:
engine = create_engine('oracle+cx_oracle://ai:0000@localhost:1521/xe')

In [6]:
sector_df = pd.read_sql("SELECT * FROM KOR_SECTOR", con=engine)

AttributeError: 'OptionEngine' object has no attribute 'execute'