In [35]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [11]:
df = pd.read_csv('../comp/titanic/train.csv')[['Pclass', 'Age', 'Embarked']][:10]
df.columns = df.columns.str.lower()
df.head(2)

   pclass   age embarked
0       3  22.0        S
1       1  38.0        C

In [12]:
data = df['embarked']
le = LabelEncoder()
le.fit(data)
res = le.transform(data)
print(res)

[2 0 2 2 2 1 2 2 2 0]

In [13]:
le.classes_

array(['C', 'Q', 'S'], dtype=object)

In [16]:
le.inverse_transform([2, 0, 2, 1])

array(['S', 'C', 'S', 'Q'], dtype=object)

In [17]:
df['le'] = res
df.head()

   pclass   age embarked  le
0       3  22.0        S   2
1       1  38.0        C   0
2       3  26.0        S   2
3       1  35.0        S   2
4       3  35.0        S   2

In [22]:
df['embarked'].shape

(10,)

In [24]:
df['embarked'].values

array(['S', 'C', 'S', 'S', 'S', 'Q', 'S', 'S', 'S', 'C'], dtype=object)

In [28]:
data = df['embarked'].values.reshape(-1,1)

In [29]:
data.shape

(10, 1)

In [30]:
# oh = OneHotEncoder()
# oh.fit(data)
# res = oh.transform(data)
# print(res)

  (0, 2)	1.0
  (1, 0)	1.0
  (2, 2)	1.0
  (3, 2)	1.0
  (4, 2)	1.0
  (5, 1)	1.0
  (6, 2)	1.0
  (7, 2)	1.0
  (8, 2)	1.0
  (9, 0)	1.0

In [36]:
oh = OneHotEncoder(sparse=False, dtype=np.int32)
oh.fit(data)
res = oh.transform(data)
print(res)

[[0 0 1]
 [1 0 0]
 [0 0 1]
 [0 0 1]
 [0 0 1]
 [0 1 0]
 [0 0 1]
 [0 0 1]
 [0 0 1]
 [1 0 0]]

In [37]:
df[['a', 'b', 'c']] = res
df.head()

   pclass   age embarked  le  a  b  c
0       3  22.0        S   2  0  0  1
1       1  38.0        C   0  1  0  0
2       3  26.0        S   2  0  0  1
3       1  35.0        S   2  0  0  1
4       3  35.0        S   2  0  0  1